@define-color highlight rgba(117, 241, 250, 1);
@define-color dark rgba(0, 0, 0, 1);
@define-color grey rgba(54, 69, 79, 1);

* {
  font-family: "0xProto Nerd Font Propo";
  font-size: 13px;
  font-weight: 700;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: #fff;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  border: none;
  padding: 5px;
  margin: 7px 0px 7px 7px;
  background: @dark;
  border-radius: 20px;
  color: #fff;
}

#workspaces button.active {
  background: @highlight;
  color: @dark;
}

#workspaces button.urgent {
  background: rgba(227, 81, 37, 1);
}

#battery,
#bluetooth,
#brightness,
#clock,
#cpu,
#memory,
#network,
#temperature,
#tray,
#volume {
  border-radius: 20px;
  padding: 5px 10px;
  background: @dark;
  margin: 5px 10px 5px 0px;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @grey;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

tooltip {
  background: @dark;
  border-radius: 5px;
}

tooltip label {
  color: white;
}
