configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  display-run: "Run:";
  drun-display-format: "{icon} {name}";
  font: "0xProto Nerd Font Medium 14";
  modi: "window,run,drun";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "/dev/null"

* {
  bg: rgba(0, 0, 0, 1);
  bg-alt: rgba(54, 69, 79, 1);
  box-alt: rgba(117, 241, 250, 1);

  fg: #ffffff;
  fg-alt: #9aa5b1;

  background-color: @bg;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 45%;
  padding: 20 0 0;
  border-radius: 20;
}

element {
  padding: 12;
  text-color: @fg-alt;
}

element selected {
  background-color: @box-alt;
  text-color: @bg;
  border-radius: 8;
}

element-text {
  background-color: inherit;
  text-color: inherit;
  vertical-align: 0.5;
}

element-text selected {
  background-color: transparent;
}

element-icon {
  size: 30;
}

element-icon selected {
  background-color: @box-alt;
}

entry {
  background-color: @bg-alt;
  border-radius: 0 20 20 0;
  padding: 12;
  text-color: @fg;
  cursor: text;
}

inputbar {
  children: [prompt, entry];
  padding: 10 10 25;
  background-color: @bg;
}

listview {
  background-color: transparent;
  columns: 1;
  lines: 8;
  scrollbar: true;
  scrollbar-width: 6;
  scrollbar-border-radius: 3;
  scrollbar-handle: 0 0 10 0;
}

mainbox {
  children: [inputbar, listview];
  background-color: @bg;
}

prompt {
  enabled: true;
  border-radius: 20 0 0 20;
  padding: 12 0 0 12;
  background-color: @bg-alt;
  text-color: @fg;
}

scrollbar {
  background-color: transparent;
  handle-color: @box-alt;
  border-radius: 3;
  handle-width: 6;
}
